.SideBar
  .SideBar__UserInfo
    .SideBar__UserInfo__UserContents
      .SideBar__UserInfo__UserContents__UserName
        = current_user.name
      .SideBar__UserInfo__UserContents__Icon
        =link_to new_group_path do
          =icon('fa','edit',class:"SideBar__UserInfo__UserContents__Icon__List SideBar__UserInfo__UserContents__Icon--Edit")
        =link_to edit_user_path(current_user) do
          =icon('fa','cog',class:"SideBar__UserInfo__UserContents__Icon__List")
    
  .SideBar__Groups
    - current_user.groups.each do |group|
      .SideBar__Groups__Container
        = link_to group_messages_path(group) do
          .SideBar__Groups__Container--Title
            = group.name
          .SideBar__Groups__Container--Comment
            =group.show_last_message    
