.SideBar
  .SideBar__UserInfo
    .SideBar__UserInfo__UserContents
      .SideBar__UserInfo__UserContents__UserName
        Name
      .SideBar__UserInfo__UserContents__Icon
        =link_to "#"do
          =icon('fa','edit',class:"SideBar__UserInfo__UserContents__Icon__List SideBar__UserInfo__UserContents__Icon--Edit")
        =link_to "#"do
          =icon('fa','cog',class:"SideBar__UserInfo__UserContents__Icon__List")
    
  .SideBar__Groups
    .SideBar__Groups__Contents
      .SideBar__Groups__Contents--Title
        %p techcamp
      .SideBar__Groups__Contents--Comment
        %p まだメッセージがありません

    .SideBar__Groups__Contents
      .SideBar__Groups__Contents--Title
        %p techcamp
      .SideBar__Groups__Contents--Comment
        %p まだメッセージがありません
        
    .SideBar__Groups__Contents
      .SideBar__Groups__Contents--Title
        %p techcamp
      .SideBar__Groups__Contents--Comment
        %p まだメッセージがありません
