&__Form{
  height: 90px;
  background-color: #d2d2d2;
  padding: 20px 40px;
  
  &__Contents{
    display: flex;
    &__InputBox{
      width: 100%;
      background-color: #ffffff;
      position: relative;
      &__Input{
        width: 100%;
        padding: 0 10px;
        height: 50px;
        color: #434a54;
        border-style: none;
      }
      &__Tag{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.3rem;
        cursor: pointer;
        color: #333333;
        #ImageTag{
          display: none;
        }
      }
    }